body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    border: 10px dashed #FFFFFF;
    display: block;
    margin: auto;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;

    &.introduction{
        border-radius: 15px;
        margin: 15px 0px 0px 0px;
        line-height: 2;
    }

    &.red{
        background-color: #ff0000;
        text-align: right;
        margin-left: 50px;
        border: 0px; /* reset default border by div */
        border-bottom: 2px solid #FFFFFF;
        border-left: 5px solid #FFFFFF;
    }

    &.blue{
        background-color: #0000ff;
        text-align: left;
        margin-right: 50px;
        border: 0px; /* reset default border by div */
        border-top: 2px solid #FFFFFF;
        border-right: 5px solid #FFFFFF;

        & > h2, & > p {
            color: #C4C4C4;
        }
    }

    &.yellow{
        background-color: #ffff00;
        text-align: right;
        margin-left: 50px;
        border: 0px; /* reset default border by div */
        border-bottom: 2px solid #FFFFFF;
        border-left: 5px solid #FFFFFF;

        & > p {
            color: #707070;
        }
    }

    &.green{
        background-color: #008500;
        margin-right: 50px;
        border: 0px; /* reset default border by div */
        border-top: 2px solid #FFFFFF;
        border-right: 5px solid #FFFFFF;
    }
}

footer {
    background: linear-gradient(to right, #000000 0%, #0000ff 25%, #0066FF 70%, #000000 100%);
    border: 5px solid #FFFFFF;

    & >p {
        font-size : 20px;
        text-align: right;
        padding: 15px 15px 15px 0px;
    }
}
